<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>235153545323-096gokgnl7jie5585nbje817qqe29cuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235153545323-096gokgnl7jie5585nbje817qqe29cuj</string>
	<key>API_KEY</key>
	<string>AIzaSyA35NV7FT7hwcpq4qOxlrsQnyZHvXjCXq4</string>
	<key>GCM_SENDER_ID</key>
	<string>235153545323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.vividcode.ionic4.hnc</string>
	<key>PROJECT_ID</key>
	<string>hacker-news-client-v4</string>
	<key>STORAGE_BUCKET</key>
	<string>hacker-news-client-v4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235153545323:ios:24fac564231cf9dd</string>
	<key>DATABASE_URL</key>
	<string>https://hacker-news-client-v4.firebaseio.com</string>
</dict>
</plist>